@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.display {
  display: none;
}

.transparency {
  opacity: 0.8;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.blue-heading {
  color: #1f3f5b;
  text-align: center;
}

.gray-text {
  color: #4b5862;
  text-align: center;
}

.btn {
  border-style: none;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 1.5rem;
}

#desktop-links,
#dk-logo,
.dk-btn {
  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay #mobile-menu {
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  font-family: "Ubuntu", sans-serif;
  margin: 12.5rem auto 0 auto;
  max-width: 90%;
}

.overlay #mobile-menu .overview {
  padding-top: 3rem;
  margin: 0 3rem;
}

.overlay #mobile-menu .border {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.overlay #mobile-menu .anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.overlay #mobile-menu .links {
  background-color: #efeff1;
  border-radius: 0.5rem;
  margin: 2.5rem;
  padding-bottom: 2.5rem;
}

.overlay #mobile-menu .links ul li {
  padding-top: 2.5rem;
  list-style: none;
  text-align: center;
}

.overlay #mobile-menu .links ul li a {
  text-decoration: none;
  color: #4b5862;
}

.overlay #mobile-menu .mobile-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  padding-bottom: 3rem;
}

.overlay #mobile-menu .mobile-btns button {
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 1.5rem 4rem;
}

.overlay #mobile-menu .mobile-btns .login {
  background-color: white;
  border: none;
  color: #1f3f5b;
  margin-bottom: 2rem;
}

.overlay #mobile-menu .mobile-btns .signup {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(#ff8f70, #ff3d54);
  border: none;
  color: white;
}

body {
  background-color: white;
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
}

.intro-orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(#ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 400%;
  border-bottom-left-radius: 10rem;
}

.intro-orange .img-bg {
  background-image: url(../images/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 35% 30%;
  border-radius: inherit;
}

.intro-orange .img-bg .intro-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 2rem 0rem 2rem;
}

.intro-orange .img-bg .intro-imgs .ham-menu {
  z-index: 60;
}

.intro-orange .img-bg .intro-imgs .close {
  z-index: 60;
}

.intro-orange .img-bg h2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 10rem 2rem 2rem 2rem;
  line-height: 5rem;
  text-align: center;
}

.intro-orange .img-bg p {
  text-align: center;
  padding: 0 4.5rem;
  opacity: 0.7;
}

.intro-orange .img-bg .info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 4.5rem;
  padding-bottom: 13rem;
}

.intro-orange .img-bg .info-btns #white-btn {
  background-color: white;
  color: #ff525d;
}

.intro-orange .img-bg .info-btns #trans-btn {
  background: none;
  border: white 2px solid;
  color: white;
}

#card-2 {
  margin: 10rem 0;
}

#card-2 h2 {
  margin-bottom: 3.5rem;
  font-size: 2.6rem;
}

#card-2 img {
  max-width: 100%;
}

#card-2 .iem-desktop {
  display: none;
}

#card-2 div .blue-heading {
  line-height: 3rem;
  margin-top: 3.5rem;
  padding: 0 7.5rem;
}

#card-2 div .gray-text {
  padding: 0 3.5rem;
}

#card-3 {
  padding-top: 15rem;
  position: relative;
}

#card-3 .inner-card {
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: linear-gradient(#2c2d3f, #3f4164);
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

#card-3 .inner-card img {
  position: absolute;
  width: 100%;
  top: -2rem;
}

#card-3 .inner-card h2 {
  padding-top: 25rem;
  font-size: 4rem;
  text-align: center;
}

#card-3 .inner-card p {
  padding: 2rem 2rem 10rem 2rem;
  opacity: 0.7;
  text-align: center;
}

#card-3 .inner-card .dk-flex-1 {
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: 50% -20rem;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: inherit;
}

#card-4 {
  padding-top: 7rem;
}

#card-4 img {
  max-width: 100%;
  padding-bottom: 2.5rem;
}

#card-4 div {
  padding: 0 3rem;
}

#card-4 div h2 {
  margin-bottom: 2.5rem;
}

#card-4 div p {
  margin-bottom: 4rem;
}

footer {
  background: #25252d;
  border-top-right-radius: 10rem;
  font-family: "Ubuntu", sans-serif;
  padding-top: 6.5rem;
  text-align: center;
}

footer img {
  margin-bottom: 7rem;
}

footer div {
  padding-bottom: 5rem;
}

footer div h4 {
  margin-bottom: 3rem;
}

footer div ul li {
  padding-bottom: 1.5rem;
  opacity: 0.7;
  text-decoration: none;
}

footer div ul li a {
  color: #c8c8cb;
  text-decoration: none;
}

@media (min-width: 768px) {
  .overlay,
  .mobile-menu,
  .logo,
  .ham-menu,
  .close,
  .iem-mobile {
    display: none;
  }
  #desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 111.5rem;
    margin: auto;
  }
  #desktop-menu .menu-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6rem;
  }
  #desktop-menu .menu-left #dk-logo {
    display: block;
    height: 4rem;
  }
  #desktop-menu .menu-left #desktop-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    padding-top: 1.5rem;
  }
  #desktop-menu .menu-left #desktop-links div {
    position: relative;
  }
  #desktop-menu .menu-left #desktop-links .dk-anchor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  #desktop-menu .menu-left #desktop-links .dk-anchor:hover {
    color: white;
  }
  #desktop-menu .menu-left #desktop-links .dk-anchor p {
    padding: 0;
  }
  #desktop-menu .menu-left #desktop-links .dk-anchor p:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.5rem;
  }
  #desktop-menu .menu-left #desktop-links .dk-links {
    background-color: white;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    margin-top: 2.5rem;
    padding: 3rem 5rem 0 1.8rem;
    position: absolute;
    left: -1.5rem;
  }
  #desktop-menu .menu-left #desktop-links .dk-links li {
    list-style: none;
    padding-bottom: 1.5rem;
  }
  #desktop-menu .menu-left #desktop-links .dk-links li a {
    color: black;
    text-decoration: none;
  }
  #desktop-menu .menu-left #desktop-links .dk-links li a:hover {
    font-weight: bold;
  }
  #desktop-menu .dk-btns {
    border-radius: 3rem;
    border: none;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 1.5rem 4rem;
    cursor: pointer;
  }
  #desktop-menu .dk-login {
    background-color: transparent;
    color: white;
  }
  #desktop-menu .dk-signup {
    color: #ff525d;
  }
  .btn {
    cursor: pointer;
  }
  #card-2 h2 {
    font-size: 4rem;
  }
  #card-2 #mobile-flex-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 16rem;
  }
  #card-2 #mobile-flex-1 .iem-desktop {
    display: block;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    max-width: 50%;
    position: relative;
    top: -15rem;
    left: 15%;
  }
  #card-2 #mobile-flex-1 .blue-heading,
  #card-2 #mobile-flex-1 .gray-text {
    padding: 0;
    text-align: left;
  }
  #card-2 #mobile-flex-1 .blue-heading {
    font-size: 2.6rem;
  }
  #card-3 {
    padding-top: 0;
  }
  #card-3 .inner-card .dk-flex-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-size: 80%;
    background-position: -30rem 80%;
  }
  #card-3 .inner-card .dk-flex-2 {
    width: 50%;
    padding: 11rem 0 9rem 0;
  }
  #card-3 .inner-card .dk-flex-2 h2 {
    padding: 0;
    text-align: left;
  }
  #card-3 .inner-card .dk-flex-2 p {
    padding-left: 0;
    text-align: left;
  }
  #card-3 .inner-card img {
    top: -10rem;
    left: 0;
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */